.jumbotron {
	background: url(/home/leman/Pictures/Wallpapers/joanna-kosinska-673126-unsplash.jpg);
	background-size: 100%;
	min-height: 100%;
}
.jumbotron h2 {
	font-family: serif;
	font-size: 50px;
}

.link-icon {

}
.link0 {
	color: #f7f7f7;
	background-color: #3b5998;
	padding: 18px;
	padding-top: 13px;
	padding-bottom: 13px;
}
.link1 {
	color: #f7f7f7;
	background-color: #1da1f2;
	padding: 15px;
	padding-top: 13px;
	padding-bottom: 13px;
}
.link2 {
	color: #f7f7f7;
	background-color:  #4875B4;
	padding: 15px;
	padding-top: 13px;
	padding-bottom: 13px;
}
.link3 {
	color: #f7f7f7;
	background-color: #C63D2D;
	padding: 13px;
	padding-top: 13px;
	padding-bottom: 13px;
}